<div class="voucher-subtab">
  <h5 class="fw-bold mb-3">Liên kết Voucher với Cửa hàng</h5>

  <div class="card shadow-sm border-0">
    <table class="table align-middle mb-0">
      <thead class="table-light text-muted">
        <tr>
          <th>Tên cửa hàng</th>
          <th class="text-end">Đã liên kết</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of stores">
          <td>{{ s.name }}</td>
          <td class="text-end">
            <input type="checkbox" [(ngModel)]="s.selected">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
